<div class="input-group col-md-4 search-form active options" id="company-list">
    <input type="text" id= "company-search-form" class= "tokenize search-query form-control" placeholder="Search by Company Name" />
</div>

