<form id= "search-form" class="form-inline" action="/search" method="post" autocomplete= "on">
  <div class="input-group col-md-12" id="company-search">
    <input type="text" id= "company-search-form" class="search-query form-control" placeholder="Search by Company Name" />
      <span class="input-group-btn" id= "company-search-button">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
       </span>
  </div>

</form>
