<div class="options input-group col-md-4 search-form active" id="company-list">
  <input type="text" id= "company-search-form" class= "tokenize search-query form-control" placeholder="Search by Company Name" />
</div>

