<div id= "level-list" class= "check-boxes hidden options col-md-12">
  <div class = "col-md-6">
    <%= f.check_box  :internship, class: "level", name: "Internship" %>
    <%= f.check_box  :entry_level, class: "level", name: "Entry Level" %>
  </div>

  <div class = "col-md-6">
    <%= f.check_box :mid_level, class: "level", name: "Mid Level" %>
    <%= f.check_box :senior_level, class: "level", name: "Senior Level"%>
  </div>
</div>
