<div id= "level-list" class= "hidden">
  Intern <%= f.check_box  :intern %><br />
  Entry Level <%= f.check_box  :entry_level %><br />
  Mid-Level <%= f.check_box  :mid_level %><br />
  Senior-Level <%= f.check_box :senior_level %><br />
</div>
