<div class="options input-group col-md-4 search-form active" id="location-list">
  <!-- Invisible div to access global variables for locations -->
  <div class="location-list" data-locations="<%= $locations %>"></div>
  <input type="text" id= "location-search-form" class="search-query form-control" placeholder="Location" />
</div>

