<form class="form-inline options" action="/search" method="post" >
  <div class="input-group col-md-4 search-form active" id="location-list">
    <input type="text" id= "location-search-form" class="search-query form-control" placeholder="Search by location Name" />
      <span class="search-button input-group-btn" id= "location-search-button">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
       </span>
  </div>
</form>
