<div class="input-group col-md-4 search-form active" id="location-list">
  <input type="text" id= "location-search-form" class="search-query form-control" placeholder="Search by location Name" />
</div>

